/sitaramc-gitolite-v3.01-0-g88b4c86-nodocs.tar.gz
/sitaramc-gitolite-v3.02-0-g8aba6ec-nodocs.tar.gz
/sitaramc-gitolite-v3.03-0-g75387fd-nodocs.tar.gz
/sitaramc-gitolite-v3.04-0-gaf437c3.tar.gz
/sitaramc-gitolite-v3.1-0-g51ab768.tar.gz
/gitolite-3.2.tar.gz
/gitolite-3.3.tar.gz
/gitolite-3.4.tar.gz
/gitolite-3.5.tar.gz
/gitolite-3.5.1.tar.gz
/v3.5.2.tar.gz
/v3.5.3.tar.gz
/v3.5.3.1.tar.gz
/v3.6.tar.gz
